html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img{
    margin:0;
    padding:0;
}
body {
    font-family: 'microsoft yahei',Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
    background-color: #fff;
    height: 100%;
    max-width: 640px;
    margin: 0 auto;
    overflow-x: hidden;;
}
li, ul {
    margin: 0;
    padding: 0;
    border: none;
}
li, ul { list-style-type: none;}
img {
    border: 0;
    border: none;
    width: 100%;
}
a, a:hover, a:visited { text-decoration: none;}
a:hover, a:focus {
    color: #333;
}
a {
    color: #333;
}
i,em{font-style:normal}
.cl{ clear:both;}
.fl{ float: left;}
.fr{ float: right;}
.text-right { text-align: right;}
.text-center { text-align: center;}
.sy{white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.text-justify{text-align: justify;}
section {
    display: block;
}
*::before, *::after {
    box-sizing: border-box;
}
.btn{
    display:inline-block;
    margin-bottom:0;
    font-weight:normal;
    text-align:center;
    vertical-align:middle;
    touch-action:manipulation;
    cursor:pointer;
    background-image:none;
    border:1px solid transparent;
    white-space:nowrap;
    padding:6px 12px;
    font-size:14px;
    line-height:1.42857143;
    border-radius:4px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -moz-user-select:none
}
.am-slider-a1 .am-control-nav li a.am-active {
  background-color: #49a6ec;
  cursor: default;
}
.m-user-avatar > .avatarPic {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.95);
    margin: 0 auto;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}
}
.m-user-avatar > .avatarPic > img {
    width: 80px;
    height: 80px;
}
.img-circle { border-radius: 50%;}
.j-nav .shopping-cart a,
.j-hint,
.j-nav .city a::after,
.meal .j-nav .logo a,
.count_down .clock,
.meal_text .meal_price i.meal_join,
.user-b .j-nav .logo a,
.invite-logo,
.pay-manner::before,
.groups-avata-img ul.colonel::before,
.win-icon::before{ background: transparent url("../img/home.png") no-repeat scroll;}
/*---------nav----------*/
.navbar {
    min-height: 42px;
    background: #49a6ec none repeat scroll 0% 0%;
}
.j-nav{ transform: translate3d(0px, 0px, 0px);}
.none-box{ 
    width: 100%;
    height: 42px;
}
.j-nav .logo,
.j-nav .shopping-cart { padding-top: 2px;}
.j-nav .logo a,
.j-nav .shopping-cart a {
    background-size: 125px auto;
    background-position: 10px -266px;
    width: 50px;
    height: 40px;
    display: block;
}

.j-nav .city {
    float: right;
    padding: 6px 0 0 0;
}

.j-hint{
    height: 30px;
    width: 260px;
    margin: 5px auto;
    text-align: center;
    background-size: 110px auto;
    background-position: 20px -172px;
    line-height: 30px;
    padding-left: 36px;
    font-size: 1.4rem;
    border-bottom: 1px solid #E7E7E7;
}

/*----------导航----------*/
.j-component-func{
    width: 100%;
    padding: 5px 10px;
}
.list-unstyled{ list-style: outside none none;}
.j-component-func{padding:10px; border-bottom: 1px solid #F4F4F4; margin-bottom: 10px;}
.j-component-func>ul{overflow: hidden;}
.j-component-func>ul>li{float:left; width:calc(25% - 1px);text-align:center; padding:2px 0;}
.j-component-func>ul>li>a{display:block;font:1em/25px 'microsoft yahei'; color:#505050;}
.j-component-func .fdayicon{display:block; width:50px; height:50px; line-height:50px; border-radius:45%; margin:0 auto;
 background: #49a6ec url("../img/home.png") no-repeat scroll 0% 0% / 117px auto;}
.j-component-func .fdayicon-all{
    background-position: 12px 12px;
}
.j-component-func .fdayicon-order{
    background-position: 12px -26px;
    background-color: #FF9545;
}
.j-component-func .fdayicon-contact{
    background-position: 12px -64px;
    background-color: #ff585d;
}
.j-component-func .fdayicon-client{
    background-position: 12px -103px;
    background-color: #aec95f;
}
.j-component-func .fdayicon-publish{
    background-position: 12px -142px;
    background-color: #af68be;
}

.route1,.route2,.route3,.route4{-webkit-transform:rotateY(90deg);transform:rotateY(90deg);}
.route1{-webkit-transition:-webkit-transform .3s ease-out .2s; transition:transform .3s ease-out .2s;}
.route2{-webkit-transition:-webkit-transform .3s ease-out .4s; transition:transform .3s ease-out .2s;}
.route3{-webkit-transition:-webkit-transform .3s ease-out .6s; transition:transform .3s ease-out .4s;}
.route4{-webkit-transition:-webkit-transform .3s ease-out .8s; transition: transform .3s ease-out .6s;}
.route{-webkit-transform:rotateY(0deg); transform:rotateY(0deg);}
/*------内容------*/
.j-component-bestsell{padding-bottom: 70px;}
.j-component-bestsell>ul{margin-bottom:0;}
.j-component-bestsell>ul>li{margin:0 10px 5px; padding-bottom:5px;}
.j-component-bestsell>ul>li>a{display:block; width:100%; background:#f1f1f1; padding: 1px;}
.j-component-bestsell>ul>li>a>img{width:100%;}
.j-component-bestsell>ul>li:last-child{border-bottom:none;}

.tuan {
    padding: 0px 10px;
    margin-bottom: 70px;
}
.tuan_g {
    background-color: #FFF;
    border: 1px solid #f1f1f1;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}
.tuan_g_img {
    display: block;
    position: relative;
}
.tuan_g_img .tally_box{
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url("../img/content-icon.png");
    background-repeat: no-repeat;
    background-size: 365px 50px;
    background-position: -238px 0px;
    margin-left: 10px;
}
.tuan_g_img .tally_box p{
    color: #fff;
    text-align: center;
    line-height: 21px;
}
.tuan_g_img img {
    display: block;
    overflow: hidden;
} 

.tp_lk::after, 
.ti_users_blank::after, 
.ti_users3 .ti_users_blank::after, 
.ti_boss::before,
.step_more::after,
.registericon::after{
    background-image: url("../img/content-icon.png");
    background-repeat: no-repeat;
    background-size: 365px 50px;
}
.tuan_g_info { padding: 7px 10px 10px;}
.tuan_g_name {
    color: #191919;
    font-size: 1.6rem;
    margin-bottom: 5px;
}
.tuan_g_cx {
    color: #707070;
    line-height: 18px;
    font-size: 1.2rem;
}
.tuan_g_core {
    color: #FFF;
    display: block;
    height: 34px;
    line-height: 34px;
    margin-bottom: 5px;
    position: relative;
    width: 290px;
}
.tuan_g_core::before {
  background-position: -127px -8px;
  content: " ";
  height: 34px;
  left: 0;
  position: absolute;
  top: 0;
  width: 36px;
}
.tuan_g_price {
  float: left;
  height: 34px;
  margin-left: 4px;
  overflow: hidden;
  padding-left: 45px;
  width: 180px;
  color: #49a6ec;
  border-top: 1px solid #49a6ec;
  border-bottom: 1px solid #49a6ec;
  line-height: 34px;
}
.tuan_g_price span { 
    vertical-align: 1px;
    font-size: 1.2rem;
}
.tuan_g_price b {
    font-size: 2rem;
    font-weight: 400;
}
#triangle-right {
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-left: 10px solid rgb(51, 189, 182);
    border-bottom: 17px solid transparent;
    position: absolute;
    left: 36px;
    top: 0px;
}
.tuan_g_btn {
    background-color: #ff585d;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    float: left;
    height: 34px;
    line-height: 34px;
    padding-left: 10px;
    padding-right: 14px;
    position: relative;
}
.tuan_g_btn::after {
    background-position: 0px -37px;
    content: " ";
    height: 12px;
    position: absolute;
    right: 2px;
    top: 11px;
    width: 10px;
}
.tuan_g .tuan_g_yj{
    padding-left: 47px;
    font-size: 1.4rem;
    color: #707070;
}

/*
 * detail 拼团详情页
 */
.details-body-box{ background-color: #f0f0f0;}
.tm,.tm2 {
    background-color: #FFF;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 10px;
    position: relative;
}
.tm2 { border-top: 1px solid #e2e2e2;}
.td2 {
    background-color: #FFF;
    padding: 5px 0 0;
}
.td2_name {
    color: #49a6ec;
    font-size: 1.8rem;
    line-height: 30px;
    margin-bottom: 7px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    word-wrap: break-word;
    border-bottom: 1px solid #e2e2e2;
    padding: 5px 10px;
    }
.td2_cx {
    color: #A1A1A1;
    line-height: 25px;
    font-size: 1.4rem;
    padding: 0px 10px 7px;
}
.td2_info { position: relative;}
.td2_price { color: #A1A1A1; height: 25px; line-height: 25px;}
.td2_name span { 
    float: right;
    background-color: #ff585d;
    color: #fff;
    padding: 0 5px;
    font-size: 1.3rem;
    border-radius: 5px;
}
.td2_name i{width:69%;float:left;font-style:normal;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

.td2_name span b{
    font-weight: 100;
    padding-right:5px; 
}
.td2_num {
    color: #49a6ec;
    text-align: center;
    font-size: 1.4rem;
    padding: 5px 0;
}
.td2_num span { margin: 0px 5px;}
.kt {
    padding: 10px;
    background-color: #FFF;
    font-size: 12px;
    overflow: hidden;
    border-top: 1px solid #e2e2e2;
}
.pin{
    width: 100%;
    overflow: hidden;
}
.pin .pin_btn_box{
    width: 50%;
    height: 35px;
    float: left;
}
.pin .pin_btn_box .pin_btn{
    width: 50px;
    height: 25px;
    background-color: #ff585d;
    margin: 0 auto;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
    color: #fff;
}
.pin .pin_btn_box .pin_btn_bg2{background-color: #49a6ec;}
.kt_item {
    background-color: #ff585d;
    color: #FFF;
    float: right;
    height: 70px;
    margin-right: 2%;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 49%;
    font-size: 1.6rem;
    border-radius: 5px;
}
.kt_item b { font-weight: 100; font-size: 1.6rem;}
.kt_item_buy { background-color: #49a6ec;}
.kt_item:first-child { margin-right: 0px;}

.kt_price {
    color: #FFF;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
}
.kt_btn {
    height: 30px;
    color: #FFF;
    line-height: 30px;
    background-color: #F7494E;
}
#tuan_one_number { background-color: #1ABAB1;}
.step {
    background-color: #FFF;
    border-bottom: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    font-size: 1.4rem;
    padding: 12px 10px;
    margin-bottom: 10px;
    position: relative;
}
.step_hd {
    height: 18px;
    line-height: 18px;
    margin-bottom: 12px;
    color: #49a6ec;
}
.step_more {
    color: #333;
    display: block;
    height: 18px;
    line-height: 18px;
    position: absolute;
    right: 10px;
    text-align: right;
    top: 15px;
}
.step_more::after {
    background-position: -342px -14px;
    content: "";
    display: inline-block;
    height: 12px;
    margin-left: 5px;
    vertical-align: -1px;
    width: 6px;
}
.step::after {
    clear: both;
    content: "";
    display: block;
    height: 0px;
    visibility: hidden;
}
.step_item {
    float: left;
    padding-left: 25px;
    position: relative;
    width: 25%;
}

.step_num {
    background-clip: padding-box;
    background-color: #FFF;
    border: 1px dashed #D5D5D5;
    border-radius: 20px;
    color: #666;
    height: 20px;
    left: 0px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 1px;
    width: 20px;
}
.step_item_on .step_num {
    background-color: #49a6ec;
    border: 1px solid #49a6ec;
    color: #FFF;
}
.step_tit {
    color: #666;
    font-size: 10px;
    line-height: 12px;
}
.step_item_on .step_tit { color: #49a6ec;}
.outs-box{
    height: auto;
    background-color: #fff;
    border-bottom: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    margin-bottom: 68px;
}
.outs-box h1{
    font-size: 1.4rem;
    padding: 5px 0;
    color: #49a6ec;
    border-bottom: 1px solid #e2e2e2;
    font-weight: 100;
}
.detail_footer{
    border-top: 1px solid #e2e2e2;
    padding: 10px;
    background-color: #fff;
    line-height: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
}
.return_left_box{ width: 24%;}
.detail_footer .return_love{
    width: 30px;
    height: 31px;
    background-image: url("../img/footer-icon.png");
    background-size: 30px auto;
    background-position: 0px -622px;
    margin-right: 5px;
    margin-top: 5px;
}

.love_y .return_love{background-position: 0px -648px;}

.detail_footer .share_tuan{
    background-position: 0px -250px;
}
.detail_footer .promptly_tuan{
    width: 76%;
    height: 40px;
    line-height: 40px;
    background-color: #49a6ec;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    font-size: 1.6rem;
}
@media screen and (max-width: 320px){ 
    .kt_item{ height: 55px; font-size: 1.4rem;}
    .kt_price { height: 30px; line-height: 30px;}
    .kt_btn { height: 25px;line-height: 25px;}
    .detail_footer .promptly_tuan { height: 34px; line-height: 34px; font-size: 1.4rem; margin-top: 3px;}
}
@media screen and (min-width: 360px){ 
    .detail_footer .promptly_tuan{ width: 78%;}
}
@media screen and (min-width: 640px){ 
    .detail_footer .promptly_tuan{ width: 87%;}
    .detail_footer{ max-width: 640px;}
}
/*
 * pay 支付拼团页
 */
.pay-box,
.groups-box,
.groupsdetails-box{ background-color: #f2f2f2;}
.pay-box .mc-sum-box{ padding: 10px;}
.pay-m,
.groups-m{
    background-color: #fff;
    border-bottom: 1px solid #E9E9E9;
    margin-bottom: 10px;
    overflow: hidden;
}

.goods_details_title{color:#666;width:100%;height:16px;line-height: 16px;display: block;background: #f1f1f1;padding:2px 10px;}
.pay-site{ 
    height: auto;
    color: #333;
    margin-top: 10px;
    padding:10px;
}
.pay-site-left{
    width: 70px;
    font-weight: 600;
    text-align: center;
    color: #666;
    font-weight:normal;
}
.pay-site-left,
.pay-site-right{ height: 40px;}

.pay-site-right{ color: #666;}
.pay-freight{ padding: 15px 10px;}
.pay-freight p{ color: #5b5b5b;}
.pay-freight p b{ 
    color: #CE3B41;
    font-size: 1.4rem;
}
.pay-m .am-g{ padding: 10px;}
.pay-m .am-u-lg-6{ margin: 5px 0;}
.pay-manner{ 
    position: relative;
    line-height: 38px; 
    padding-left: 40px;
    margin-left: 40px;
    border-top: 1px solid #5EB95E;
    border-right: 1px solid #5EB95E;
    border-bottom: 1px solid #5EB95E;
    
}
.pay-manner::before{
  background-size: 125px 355px;
  background-position: -95px -326px;
  content: " ";
  height: 30px;
  left: 5px;
  position: absolute;
  top: 5px;
  width: 30px;
}
.pay-manner2{
    border-top: 1px solid #3BB4F2 ;
    border-right: 1px solid #3BB4F2 ;
    border-bottom: 1px solid #3BB4F2 ;  
}
.pay-manner2::before{ background-position: -95px -296px;}
.pay-mu{
    width: 100%;
    float: left;
    position: relative;
}
.pay-mu .pay-input-group { 
    position: relative;
    margin: 5px 10px;
}
.pay-input-group-label{   
    padding: 10px;
    float: left;
    height: 20px;
    width: 20px;
}
.pay-input-group-success .pay-input-group-label {
    border-color: #5EB95E;
    background: #5EB95E none repeat scroll 0% 0%;
    color: #FFF;
}
.pay-input-group-secondary .pay-input-group-label {
    border-color: #3BB4F2;
    background: #3BB4F2 none repeat scroll 0% 0%;
    color: #FFF;
}
.pay-input-group-label:first-child { border-right: 0px none;}
.pay-m .btn{
    width: 92%;
    background-color: #CE3B41;
    margin: 10px 4%;
    color: #fff;
}
.pay-box .step,
.groups-m-s .step{ font-size: .865rem;}
.pay-box .step .step_item,
.groups-m-s .step .step_item {
    float: left;
    padding-left: 7%;
    position: relative;
    width: 18%;
}
/*
 * groups 我的拼团
 */
.groups-box,
.groupsdetails-box{
    padding-top: 10px;
}
.groups-box .pay-m { padding: 10px;}
.groups-box .tuan_g_core::before {
    background-position: -129px -9px;
    height: 31px;
    width: 31px;
}
.groups-box .tuan_g_btn { height: 31px;}
.groups-box .tuan_g_btn::after {
    right: 5px;
    top: 10px;
}
.groups-box .tuan_g_price {
    width: 98px;
    height: 29px;
    line-height: 29px;
    padding-left: 33px;
}
.groups-box .tuan_g_price span { font-size: .75rem;}
.groups-box .tuan_g_price b { font-size: .875rem;}
.groups-dowm-bnt{ 
    padding: 5px 0;
    line-height: 34px;
    color: #CE3B41;
    border-top: 1px solid #f7f7f7;
}
.groups-dowm-bnt .btn{
    background-color: #FFF;
    border-radius: 5px;
    margin: 4px 2px;
    padding: 5px 7px;
    border: 1px solid #CCC;
    color: #666;
    font-size: 0.75rem;
}
/*
 *  groupsdetails 拼团详情
 */
.win-groups{
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    color: #666;
    font-size: .75rem;
    background-color: #e6efdf;
    border-top: 1px solid #78a154;
    border-bottom: 1px solid #78a154;
}
.win-groups .win-icon{ 
    font-size:1rem;
    color: #78a154;
    position: relative;
    width: 100px;
    margin: 0 auto;
}
.groups-m .mc-sum-box {
    background-color: #FFF;
    padding: 10px;
}
h2 .mc-t {
    font-size: 0.75rem;
    color: #CE3B41;
}
h2 .mc-t>b{
    font-size: 1rem;
    font-weight: 100;
}
.groups-avata{
    background-color: #f2f2f2;
    padding: 10px;
}
.groups-avata-img{
    height: 110px;
    padding-top: 20px;
}
.groups-avata-img ul{
    width: 192px;
    margin: 0 auto;
}
.groups-avata-img ul li,
.man-name ul li .man-name-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:2px solid #fff;
    float: left;
    margin: 0 5px;
    overflow: hidden;
}
.groups-avata-img ul.colonel{
    position: relative;

}
.groups-avata-img ul.colonel::before,
.win-icon::before{
    background-size: 125px 355px;
    background-position: -95px -262px;
    content: " ";
    height: 30px;
    left: 32px;
    position: absolute;
    top: -10px;
    width: 30px;
}
.win-icon::before{
    background-position: -98px -231px;
    height: 25px;
    left: -10px;
    top: 0px;
    width: 25px;
}
.groups-avata p.man-number{
    font-size: 1rem;
    font-weight: 600;
    color: #666;
    text-align: center;
}
.groups-avata p.man-number>span{ 
    padding: 0 5px;
    font-size: 1.2rem;
    color: #CE3B41;
}
.count_down2 {
    height: 30px;
    color: #666;
    line-height: 30px;
    font-size: 1rem;
    margin-top: 10px;
    text-align: center;
}
.count_down2 span {
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    margin: 4px;
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
    line-height: 25px;
}
.man-name ul li{
    height: 55px;
    line-height: 55px;
    padding: 5px;
    margin-top: 10px;
    background-color: #D7D7D7;
    color: #999;
}    
.man-name ul li.colonel{
    background-color: #333;
    color: #fff;
}
.man-name ul li.colonel span{ 
    float: right;
    font-size: .75rem;
    color: #8C8C8C;
}
.invite-btn{
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: 40px;
    background-color: #CE3B41;
    text-align: center;
    line-height: 40px;
    color: #fff;
}
@media screen and (min-width: 640px){ 
    .invite-btn{ max-width: 640px;}
}
/*
 * meal 套餐页
 */
.meal .j-nav .logo a,
.user-b .j-nav .logo a,
.register-b .j-nav .logo a{
  width: 50px;
  height: 33px;
  background-size: 95px auto;
  background-position:  -72px 7px;
}
.meal .j-nav .shopping-cart a { background-position: -32px -225px;}
.meal_content{ 
    padding: 0;
    background-color: #f2f2f2;
}
.meal_content ul li{ margin-bottom: 1px;}
.count_down{
    height: 30px;
    background-color: #49a6ec;
    color: #fff;
    line-height: 30px;
    font-size: 1.4rem;
}
.count_down .clock {
    background-size: 105px auto;
    background-position: -81px -31px;
    width: 25px;
    height: 25px;
    display: block;
    float: left;
    margin: 3px 5px 2px 10px;
}
.count_down a{color:#fff;padding-right:26px;position: relative;}
.count_down a::after{content: ''; width:0;height:0;border-width:8px 8px 0;border-style:solid;
border-color:#fff transparent transparent;position: absolute;top:40%;margin-left: 5px;border-radius: 4px;}

.count_down span{
    background-color: #FFF;
    color: #49a6ec;
    border-radius: 5px;
    font-size: 1.4rem;
    margin: 4px;
    width: 22px;
    height: 22px;
    display: inline-block;
    text-align: center;
    line-height: 22px;
}
.count_down_end{ background-color: #ccc;}
.count_down_end span{ color: #ccc;}
.meal_list{
    height: 127px;
    background-color: #fff;
    position: relative;
}
.meal_list a{display: block;}
.meal_list_end{ 
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    opacity: 0.8;
    z-index: 2;
}
.meal_list_end .qwl{
    width: 100px;
    height: 100px;
    float: right;
    margin: 20px;
}
.meal_list .meal_img{
    width: 130px;
    height: 110px;
    margin: 15px 0 0 10px;
    overflow: hidden;
    display: block;  
}
.meal_list .meal_text{ 
    height: 100%;
    padding: 10px;
    position: relative;
    margin-left:140px;
}
.meal_list .meal_text h1{
    font-size: 1.6rem;
    color: #333;
    font-weight: 400;
    white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.meal_list .meal_text h2{
    font-size: 1.4rem;
    font-weight: 400;
    color: #ccc;
}
.meal_list .meal_text .meal_price{
    width: 100%;
    color: #CE3B41;
    font-weight: 600;
    position: relative;
}
.meal_text .meal_price span { font-size: 2.4rem;}

.meal_text .meal_price i{margin-right:5px;}

.meal_text .meal_price em{width:auto;height:20px;position: absolute;right:0;bottom:10px;}

.meal_text .meal_price em b{height:20px;width:auto;position: relative;font-size:12px;display: inline-block;margin-right:4px;}

.meal_text .meal_price i b{width:20px;height:20px;text-align: center;line-height: 20px;border-radius:3px;color:#fff;}

.meal_text .meal_price i.buy b{background: rgb(73,107,205);}

.meal_text .meal_price i.comment b{background: rgb(255,140,49);}


/*
 * register 注册/登录页
 */
#register-b .am-form input[type="text"],
#register-b .am-form input[type="url"],
#register-b .am-form input[type="email"],
#register-b .am-form input[type="password"],
#register-b .am-form input[type="tel"],
#register-b .am-form input[type="number"]{
    width: 83%;
    height: 40px;
}
.register-box{
    margin: 20px 10px;
}
#register-b .am-u-sm-10,
#register-b .am-u-sm-2{
    padding: 0;
}
#register-b .am-u-sm-2{
    height: 40px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #EEE;
    border: 1px solid #CCC;
    border-radius: 4px;
}
#register-b .am-u-sm-2:first-child{
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-right: 0px none;
}
#register-b .registericon{
    margin-top: 9px;
    display: block;
}
.registericon-user::after,
.registericon-email::after,
.registericon-password::after,
.registericon-password2::after{
    background-position: -321px -33px;
    content: "";
    display: inline-block;
    height: 17px;
    margin-left: 5px;
    vertical-align: -1px;
    width: 18px;
}   
.registericon-email::after { background-position: -350px -12px;} 
.registericon-password::after { background-position: -350px -33px;}  
.registericon-password2::after { background-position: -215px -33px;} 
#register-b .am-btn-secondary {
  background-color: #49a6ec;
  width: 100%;
  border-radius: 4px;
}
#register-b .j-nav .registerBtn a{
    float: right;
    padding: 3px 20px;
    background-color: #ff585d;
    color: #fff;
    margin: 7px;
    border-radius: 4px;
}
.m-login-link:link, 
.m-login-link:visited, 
.m-login-link:hover, 
.m-login-link:active {
    display: inline-block;
    margin-top: 5px;
    margin-right: 3px;
    text-decoration: none;
    color: #49a6ec;
}
.input-group-btn {
  width: 27%;
}
.input-group-btn .btn{
    border-radius: 0;
    width: 27%;
    height: 40px;
    background-color: #CCC;
}
.input-group-btn .btn span{ color: #fff;}
.input-group-btn .btn span.hide { display: none ;}
.quit_login{width:100%;height:34px;line-height: 34px;background: #ff585d;color:#fff;font-size: 1rem;text-align: center;display: block;border-radius:4px;}



/*--输入框验证提示重置--*/
#register-b .am-alert-danger {
  background-color: #FF5757;
  border-color: #FF5757;
  width: 83%;
  margin-left: 17%;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
} 
#register-b .am-field-error {
  border-color: #FF5757 !important;
}
/*
 * user 个人中心页
 */
.user-title {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    height: 34px;
    margin-top: 5px;
    font: 1.25em/34px "microsoft yahei";
    color: rgba(255, 255, 255, 0.95);
    overflow: hidden;
    text-align: center;
}
.user_btn {
  height: 35px;
  width: 80%;
  margin: 5px auto;
}
.user_btn p{font-size:1rem;}
.user_btn h4{font-weight:normal;color:#333;margin-top: 5px;}

.user-b .j-nav .shopping-cart a{ background-position: -32px -225px;}
.m-component-user { background-color: #F1F1F1; margin-bottom: 64px;}
.m-user-avatar {
    padding: 15px 0px;
    color: #323232;
}
.head_list{
    margin-bottom: 10px;
    background-color: #fff;
}  
.m-user-list{ 
    overflow: hidden;
    padding: 10px 0;
}
.m-user-list li{
    float: left;
    width: 33.33%;
    text-align: center;
}
.m-user-list li span{ color: #49a6ec;}
.m-user-list li span.bar {
  float: left;
  width: 1px;
  height: 42px;
  margin-top: 2px;
  background-color: #89F0EB;
  vertical-align: middle;
}
.m-user-content { margin-bottom: 0px;}
.m-user-content > li {
    padding: 0px 10px;
    margin-bottom: 10px;
    background: #FFF none repeat scroll 0% 0%;
}
.m-user-content > li.m-user-footer{
    text-align: center;
    line-height: 35px;
    margin: 0;
    color: #999;
}
.m-user-item {
    position: relative;
    padding: 12px 0px;
    border-bottom: 1px solid #F1F1F1;
    font-size: 1em;
    color: #323232;
}
.m-user-item > div, 
.m-user-item > a {
    position: relative;
    display: block;
    padding: 0px 0px 0px 30px;
    color: #323232;
    text-decoration: none;
}
.m-user-content > li .m-user-item:last-child { border-bottom: medium none;}
.m-user-item > div::before, 
.m-user-item > a::before,
.m-user-item > a::after{
    background-image: url("../img/content-icon.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    height: 25px;
    content: "";
    display: inline-block;  
}
.m-user-item > div::before, 
.m-user-item > a::before{
    background-size: 365px 50px;
    left: 0px;
    width: 25px;
}
.m-user-item > a::after {
    background-size: 365px 50px;
    background-position: -340px -11px;
    right: -5px;
    width: 10px;
}
.user-order::before { background-position: 1px -1px;}
.user-site::before { background-position: -54px -1px;}
.user-set::before { background-position: -82px -1px;}
.user-score::before { background-position: -26px -28px;}
.user-coupon::before { background-position: -26px -1px;}
.user-mess::before{ background-position: 0px -28px;}
.user-business::before{ background-position: -81px -26px;}
.m-user-item > a > span {
    margin-right: 15px;
    color: #49a6ec;
}
.m-user-item > div > span { color: #49a6ec;}
.pull-right {
    float: right !important;
}
.m-user-quit { padding: 0px 10px 10px;}
.btn-block {
    display: block;
    width: 100%;
}
.btn-warning {
    color: #FFF;
    background-color: #F0AD4E;
    border-color: #EEA236;
}
/*
 * 优惠卷
 */
.gray { 
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);  
    filter: grayscale(100%);
    filter: gray;
}
.coupon-nav,
.myorder-nav{ margin: 10px;}
.coupon-list,.comment-list{
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #49a6ec;
    background-color: #FFF;
    color: #49a6ec;
}
.coupon-list li{
    float: left;
    width: 33.33%;
    text-align: center;
}
.coupon-list li.pick,.comment-list li.pick{
    background-color: #49a6ec;
    color: #FFF;
}
.coupon-list li span.bar,.comment-list li span.bar {
    float: left;
    width: 1px;
    height: 35px;
    background-color: #49a6ec;
    vertical-align: middle;
}

.comment-list li{
    float: left;
    width: 50%;
    text-align: center;
}


.myorder-content ul{ margin: 10px 0;}
.cc-all ul,.mc-all{ margin: 0;}
.cc-all ul li{ 
    padding: 5px 0;
    border-bottom: 1px solid #EDEDED;
}
.cc-all ul li .coupon-sum,
.cc-two ul li .coupon-sum>.cc-mask {
    position: relative;
    width: 115px;
    height: 60px;
    background: #fff none repeat scroll 0% 0%;
}
.cc-two ul li .coupon-sum>.cc-mask{
    position: absolute;
    top: 0;
    opacity: 0.6;
    z-index: 2;
}
.cc-all ul li .coupon-text {
    height: 60px;
    line-height: 30px;
    padding-left: 125px;
    text-shadow: 0px 0px 1px #F0F0F0;
    color: #49a6ec;
}
.cc-two ul li .coupon-text{ color: #CE3B41;}
.cc-three ul li .coupon-text{ color: #959595;}
.cc-all ul li .coupon-text>span{
    color: #ccc;
    text-shadow: none;
}
.tab_content{ display: none !important;}
.show{ display: block !important;}
/*
 * 我的订单
 */
.myorder-content{ background-color: #f3f3f3; }
.mc-all ul li{ 
    border-bottom: 1px solid #EDEDED;
    background-color: #fff;
    padding: 5px;
    margin-bottom: 8px;
    border-top: 1px solid #EDEDED;
}
.mc-all ul li h3{
    font-size: 0.75rem;
    font-weight: 100;
    padding-left: 5px;
    padding: 5px;
    color: #CE3B41;
}
.mc-sum-box{ background-color: #fff;}
.myorder-sum,.myorder-sum > .mc-mask {
    position: relative;
    width: 90px;
    height: 90px;
    background: #FFF none repeat scroll 0% 0%;
}
.myorder-text {
    height: 90px;
    line-height: 30px;
    padding-left: 95px;
    text-shadow: 0px 0px 1px #F0F0F0;
    color: #49a6ec;
    position: relative;
}
.myorder-text h1{
    font-size: 1rem;
    font-weight: 400;
}
.myorder-text .myorder-cost,
.myorder-text h2{
    color: #999;
    font-weight: 100;
    text-shadow: none;
    font-size: .75rem;
}
.myorder-text .myorder-cost .mc-t{
    font-size: .875rem;
    color: #CE3B41;
    float: right;
}
.myorder-text > span {
    color: #CCC;
    text-shadow: none;
}
.mc-sum-Am{
    padding: 5px;
    color: #666;
}
.mc-sum-Am span{float: right;text-align: right;}
.mc-sum-Am span.mc-t{color: #CE3B41;}
.mc-sum-Am b{font-size:14px;color:#CE3B41;}
/*
 * 订单详情
 */
.od-details{
    background-color: #F1F1F2;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}
.od-express{ height: auto;}
.od-express ul{
    width: 282px;
    margin: 15px auto;
    overflow: hidden;
}
.od-express ul li{
    position: relative;
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 15px;
    border: 2px solid #999;
    line-height: 85px;
    font-size: .7rem;
    text-align: center;
    color: #999;
}
.od-express ul li.place-cur,.od-express ul li.delivery-cur,.od-express ul li.sign-cur{ border-color: #CE3B41; color: #CE3B41;}
.od-express ul li::before,
.od-express ul li::after{
    background: url("../img/home.png") no-repeat scroll 0% 0% / 125px auto;
    position: absolute;
    content: "";
    display: inline-block;
}
.od-express ul li::before{
    top: 20px;
    left: 16px;
    margin-top: -10px;
    height: 25px;
    width: 25px;
}
.od-express ul li::after{
    top: 22px;
    left: 63px;
    height: 15px;
    width: 30px;
    background-position: -48px -155px;
}
.od-express ul li.sign::after{background-position: -300px 300px;}
.od-express ul li.place::before { background-position: -50px 0px;}
.od-express ul li.delivery::before { background-position: -50px -25px;}
.od-express ul li.sign::before { background-position: -50px -50px;}
.od-express ul li.place-cur::before { background-position: -50px -75px;}
.od-express ul li.delivery-cur::before { background-position: -50px -100px;}
.od-express ul li.sign-cur::before { background-position: -50px -125px;}
.od-express ul li.place-cur::after,
.od-express ul li.delivery-cur::after{background-position: -48px -180px;}
.od-infor{
    padding: 10px;
    border-bottom: 1px solid #E9E9E9;
}
.od-infor table{
    border-collapse: collapse;
    width: 100%;
    color: #666;
}
.od-infor table tr td{ padding: 4px 0;}
.od-infor .od-red{ color: #CE3B41;}
.od-infor .od-red span{ color: #999;}
.od-box h4{
    font-size: 1rem;
    font-weight: 400;
    color: #666;
    padding: 15px 10px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #E9E9E9;
}
.od-box .mc-sum-box{ padding: 10px; border-bottom: 1px solid #E9E9E9;}
/*------footer------*/
.footer {
    width: 100%;
    max-width: 640px;
    height: 60px;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    background-color: #FFF;
    border-top: medium none #ECEDED;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
}
.footer li {
    float: left;
    width: 25%;
    text-align: center;
    margin-top: 10px;
    height: 100%;
}
.footer a {
    color: #777;
    font-size: 12px!important;
    font-weight: 400;
}
.user-b{ margin-bottom: 68px;}
.user-b .footer a { font-size: .875rem;}
.footer a.active { color: #49a6ec;}
.footer .nav-controller {
    position: relative;
    height: 100%;
    display: block;
}
.fb-home,
.fb-group,
.fb-list,
.fb-user{
    background-image: url("../img/footer-icon.png");
    background-repeat: no-repeat;
    background-size: 30px auto;
    height: 31px;
    margin: -3px auto auto;
    width: 30px;
    background-position: 0px 4px;
}
.fb-home{ background-position: 0px -124px;}
.active .fb-home { background-position: 0px 0;}
.fb-group { background-position: 0px -155px;}
.active .fb-group { background-position: 0px -30px;}
.fb-list { background-position: 0px -186px;}
.active .fb-list { background-position: 0px -61px;}
.fb-user { background-position: 0px -217px;}
.active .fb-user { background-position: 0px -92px;}




/*x 2017-02-15*/
.j-nav .logo{width:51%;}
.j-nav .city{width:45%;}
.j-nav .logo a{font-size: 1.8rem;color: #fff;text-align:left;text-indent:4%;line-height: 40px;width:auto;}
.j-nav .city a{
    width: 90%;
    height: 30px;
    padding: 2px 22px 0px 0px; 
    display: block;
    font-size: 1.4rem;
    color: #fff;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;text-align: right;}
.j-nav .city a::after{content: '';
    width: 22px;
    height: 30px;
    background-size: 110px auto;
    background-position: -90px -137px;
    position: absolute;
    right:6px;
    top:auto;
    bottom:auto;}
    
.gd_description{margin-bottom:3px;}
.meal_list .meal_text h2 span{padding:0px 6px;background: #CE8483;color:#fff;border-radius:4px;}
.meal_list .meal_text h2 span:first-child{margin-right: 10px;}
.search_box{width:100%;display: block;background: rgba(0,0,0,0.2);padding:7px 0;text-align: center;position: relative;}
.search_box input[type="search"]{width:86%;display: inline-block;border-radius: 10px;border: none;height: 26px;text-indent: 1em;font-size:1.2rem;}
.search_box button{position: absolute;width:20px;height:20px;background: url(../img/sousuo.png)no-repeat;background-size:contain;right:8%;top:10px;}

/*商品列表页↓*/
.list_search_box{width:100%;display: block;background:#f1f1f1;padding:7px 0;text-align: left;position: relative;padding-left:3%;}
.list_search_box input[type="search"]{width:90%;display: inline-block;border-radius: 10px;border: none;height: 26px;text-indent: 1em;font-size:1.2rem;}
.list_search_box button{position: absolute;width:20px;height:20px;background: url(../img/sousuo.png)no-repeat;background-size:contain;right:11%;top:10px;}

.list_search_box > a{width:10%;height:26px;float:right;background: url(../img/down.png)no-repeat center;background-size:70%;}
.near_content li{width:24%;float:left;}
.cd-popup-container1 >p{width: 100%;background: #e0e0e0;color:#333;text-align: left;text-indent: 3%;}
.cd-popup-container1 >ul{width: 100%;background:#fff;height:auto;padding:5px 3%;display: flex;justify-content: space-between; flex-wrap: wrap;}
.cd-popup-container1 li{display:block;width:30%;height:30px;margin:5px;line-height: 30px;}
.cd-popup-container1 li a{display: block;border-radius:15px;border:1px solid #999;}
.cd-popup-container1 li a:active,.cd-popup-container1 li a.choose{border:1px solid #49a6ec;color:#49a6ec;background: #d6e6ef;}

/*商品详情页↓*/
.td2_price,.gd_type{padding:5px 10px;height: inherit;}
.td2_price p,.td2_price b{font-size: 1.8rem;color:#ff585d;display: inline-block;font-weight: 600;}
.td2_price p:first-letter{font-size: 2.2rem;}
.td2_price span{float:right;padding:0px 5px;border-radius: 4px;color:#fff;margin-left:10px;background: #49a6ec;}
.td2_price span:last-child{background: orange;}
.more-solid.icon {
  color: #999;
  position: absolute;
  margin-left: 9px;
  margin-top: 14px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: solid 1px currentColor;
  background-color: currentColor;
}
.more-solid.icon:before {
  content: '';
  position: absolute;
  top: -1px;
  left: -8px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: solid 1px currentColor;
  background-color: currentColor;
}
.more-solid.icon:after {
  content: '';
  position: absolute;
  top: -1px;
  left: 6px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: solid 1px currentColor;
  background-color: currentColor;
}

.gd_type a{display:flex;justify-content: space-between;color: #666;}
.gd_type a >*{display: inline-block;height:30px;line-height: 30px;}
.gd_type a span,.gd_type a i{width:10%;}
.gd_type a p{width:80%;text-indent: 1em;}
.cd-popup-container2{max-width: 640px;margin:0 auto}
.cd-popup-container2 >a{position: absolute;right:3vw;top:0;font-size: 20px;}
.shopcar_top,.shop_car_type,.shopcar_num{width:100%;height:auto;padding:5px 10px;border-bottom: 1px solid #f7f7f7;}
.shopcar_top{position: relative;display: block;}
.shopcar_top > img{width:20vw;max-width:100px;height:20vw;max-height: 100px; position: absolute;top:-50%;left:3%;border-top-left-radius: 10px;border-top-right-radius: 10px;}
.shopcar_top >span{float:left;margin-left: 25vw;width:75vw;}
.shopcar_top >span strong{color:#ff585d;font-size: 1.6rem;}
.shopcar_top >span span{padding:0 5px;color:#fff;background: #D43F3A;border-radius:4px;margin-right: 10px;font-size: 1rem;}
.shop_car_type p{color:#666;margin-bottom: 10px;}
.shop_car_type ul{display: block;text-align: center;}
.shop_car_type ul li{float:left;display: inline-block;margin: 0 3% 10px;width:40%;}
.shop_car_type ul li:nth-child(2n){float:right;}
.shop_car_type ul li a{display: block;width:100%;padding:3px 0;border:1px solid #C0C0C0;border-radius:5px;}
.shop_car_type ul li a:active,.shop_car_type ul li.choose a{border:1px solid #49a6ec;color: #49a6ec;background: rgba(214,230,239,0.5);}
.set_num{border: 1px solid #999;border-radius: 4px;color:#666;text-align: center;margin-right:3vw;height:22px;}
.set_num a{width:20px;display: inline-block;font-size: 14px;}
.set_num input{width:40px;height:20px; display: inline-block;font-style: normal;font-size: 14px;font-weight:bold;border:none;margin-top: -4px;text-align: center;}
.shopcar_true{width:100%;margin-top: 10px;}
.shopcar_true input{width:100%;height:30px;border:none;background: #49a6ec;color:#fff;}
.cd-popup-container{text-align: center;}
.touch_share{width:70%;height:80px;display: block;background: url(../img/css-bg.png) no-repeat center;background-size:100%;display: inline-block;}
.touch_share li{width:25%;height:100%;}
.touch_share li a{display: block;width:100%;height: 100%;}
.shareclose{position: absolute;right:3vw;top:1vw;font-size: 20px;}
.good_others{background: #fff;margin-bottom: 1px;}
.good_others > ul{padding:0px 10px;color: #666;}
.good_others > ul li{display: inline-block;height:40px;line-height: 40px;padding:0 10px;}
.good_others > ul li a{color: #666;}
.good_others_nav .choose a{color:#0084C7}
.good_others_nav .choose{border-bottom: 2px solid #0084C7;}
.gd_comment > ul li{width:100%;height:auto;position: relative;margin-bottom: 10px;}
.gd_comment > ul li::after{content: '';width:100%;height:10px;position: absolute;bottom:-10px;left:0;right:0;background: #f7f7f7;}
.gd_comment > ul li >div{width:100%;}
.gd_comment_head,.gd_comment_txt,.gd_comment_pic,.gd_comment_saler{padding:5px 10px;border-bottom: 1px solid #f7f7f7;}
.gd_comment_head a{width:12vw;height:auto;display: inline-block;position: relative;}
.gd_comment_head img{width:12vw;height:12vw;max-width: 50px;max-height: 50px; border-radius:50%;}
.buyers{width: auto;float:right;height: auto;text-align: right;}
.buyers span{width:100%;display: block;}
.buyers span img{width: 18px;height:18px;}
.gd_comment_head a p{position: absolute;top:50%;right:-50px;transform: translateY(-50%);}
.gd_comment_pic img{width:30%;height:auto;max-height: 30vw;}
.gd_comment_saler p b{color:orange;}
.gd_sale_history > p{width:100%;height: 20px;line-height: 20px;text-indent: 10px;background: #f1f1f1;font-size: 1rem;color: #999;}
.booked{width:100%;padding:10px 1% 0;}
.booked li{width:18%;height:auto;display: inline-block;text-align: center;margin-bottom: 10px;}
.booked li a{display: inline-block;}
.booked li img{border-radius:50%;width:50px;height:50px;}
.booked li p{font-size: 1rem;}
.sold_out li{padding:10px;border-bottom: 1px solid #f7f7f7;}
.sold_out li a{width:18%;height:auto;display: block;float:left;text-align: center;font-size: 1rem;}
.sold_out a img{width:50px;height:50px;border-radius:50%;}
.sold_out li div{width:auto;margin-left: 18%;height:auto;}
.sold_out li div {text-align: right;}
.sold_out li div i{font-style: normal;}
.sold_out li div strong{color:#ff585d;}

/*我的订单页*/
.to_evaluate{float:right;border:none;background: #ff585d;color:#fff;padding: 2px 8px;border-radius:4px;}
.to_evaluate:active{background: #EA1328;color: #fff;}
.evaluated{float:right;border:none;background: #999;color:#fff;padding: 2px 8px;border-radius:4px;pointer-events: none;}

/*订单详情*/
.open_qq{width:16px;height:19px;float:right;background: url(../img/qq.png)no-repeat;margin-right: 3px;}
.open_phone{width:20px;height:20px;float:right;background: url(../img/phone.png)no-repeat;background-size:100%;}


.mail-solid.icon:before {
  content: '';
  position: absolute;
  left: 7px;
  top: -4px;
  width: 1px;
  height: 10px;
  color: white;
  background-color: currentColor;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotate(-54deg);
          transform: rotate(-54deg);
}
.mail-solid.icon:after {
  content: '';
  position: absolute;
  left: 7px;
  top: -4px;
  width: 1px;
  height: 10px;
  color: white;
  background-color: currentColor;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotate(54deg);
          transform: rotate(54deg);
}


/*我的评价*/
.groups-m > a{display: block;}
.myorder-text h2 span{float: right;}
.much_reality{font-size: 0.875rem;padding:4px 0;color:#666;}
.much_reality span{float:right;;}
.much_reality font{color:#CE3B41;font-weight:bold;}
.comment_detials{}
.comment_detials_head{width:100%;height: 20px;line-height: 20px;background: #f7f7f7;color: #999;font-size: 0.75rem;}
.comment_detials_head span{padding: 3px 15px;}
.comment_detials_head img{float:left;width:14px;height:14px;}
.groups-m>a,.groups-m .groups-dowm-bnt,.comment_detials_head,.comment_details_body{padding: 5px 10px;}
.comment_details_body p,.comment_details_body b{color: #999;font-size: 0.8rem;text-align: justify;font-weight: 400;}
.comment_details_body p{text-indent: 1.6em;}
.comment_details_body font{background: #F0F0F0;padding:10px 0;display: block;margin-top: 10px;border-radius:4px;}
.comment_details_body font b{color:orange;}
.comment_details_body h4 img{width:30%;height:auto;max-height: 30vw;display: inline-block;}

/*订单页*/
.pay-freight{background: #fff;color:#999;}
.pay-freight >h3{font-size: .875rem;font-weight: 400;color: #666;}
.pay_time{width:100%;height:20px;margin:5px 0 10px;border:1px solid #f1f1f1;border-radius: 4px;outline: none;}
.pay_integral,.credit_much{width:20%;height:20px;border: none;border-bottom: 1px solid #999;outline: none;margin:5px 0px;}
.pay-freight strong{color:#CE3B41;margin-bottom: 10px;display: block;}
.pay-freight textarea{width:100%;border:1px solid #f1f1f1;border-radius:4px;outline: none;resize: none;height:60px;margin-top: 10px;}
.pay-site-right{width:auto;margin-left:70px;}
.pay-site-right input{width:100%;border:1px solid #f1f1f1;border-radius:4px;height:20px;outline: none;}
.pay-m .am-g span{color:#666;}


/*发布需求页 and 修改密码页*/
.post-want_box,.modifypassword_box{padding:10px;}
.post-want_box h4,.modifypassword_box h4{font-weight: 400;color: #999;margin:10px 0;}
.post-want_box form> input,.modifypassword_box form>input{height:40px;width:100%;border:1px solid #ccc;border-radius:4px;text-indent: 1em;outline: none;}
.post-want_box h4 input,.modifypassword_box h4 input{height:40px;width:100%;border:none;background: #ff585d;color:#fff;border-radius:4px;font-size: 1rem;margin-top: 10px;}
.post-want_box h4 input:active,.modifypassword_box h4 input:active{background: #ff8285;}

/*我的资料&修改资料*/
.modify_info{width:10%;display: block;height: 42px;line-height: 42px;position: relative;}
.modify_info a{width:26px;height:26px;background: url(../img/modify.png)no-repeat center;background-size:100%;position: absolute;top:50%;margin-top: -13px;left:0;right:0}
.info_box_top{width:100%;height:50vw;max-height:200px;background: url(../img/info_bg.png) top;background-size:cover;position: relative;}
.info_box_top h4{width:100%;height:auto;position: absolute;top:50%;transform: translateY(-50%);text-align: center;color: #fff;font-size: 1.6rem;font-weight:normal;}
.info_box_top h4 img{width:18vw;height:18vw;max-width: 80px;max-height: 80px; border-radius:50%;}
.info_box_top h4 p,.user_btn p{position: relative;margin-top: 10px;}
.info_box_top h4 p.nv::after,.user_btn p.nv::after{content: '';width: 20px;height: 20px;background: url(../img/nv.png)no-repeat center;position: absolute;top:2px;}
.info_box_top h4 p.nan::after,.user_btn p.nan::after{content: '';width: 20px;height: 20px;background: url(../img/nan.png)no-repeat center;position: absolute;top:2px;}

.info_box_middle{width:100%;height: auto;}
.info_box_middle ul li{width:100%;float:left;height:30px;line-height: 30px;padding:8px;border-bottom:1px solid #f1f1f1;display: inline-table;color:#666;}
.info_box_middle ul li p{display: inline-block;max-width: 80%;}
.info_modify li input,.info_modify li select{border:1px solid #ccc;border-radius:4px;outline: none;text-align: right;padding-right:10px;height:30px;}
.info_modify li textarea{width:100%;height:66px;border:1px solid #ccc;border-radius:4px;resize: none;outline: none;text-indent: 1em;}
.info_save{width: 100%;color: #fff;background: #49a6ec;border-radius: 4px;height: 36px;display: block;border: none;text-align: center;padding: 0;}

/*消息中心*/
.msg_wra{background: #f2f2f2;display: block;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
.msg_wra a{display: block;}
.msg_wra li{width:100%;height: auto;background: #fff;display: inline-block;border-bottom: 1px solid #f1f1f1;}
.msg_header{width:calc(100% - 20px);display: inline-block;padding:10px 10px 5px;color:#444}
.msg_header a img{width:50px;height:50px;border-radius: 50%;}
.msg_header > span{margin-left: 10px;}
.msg_header i{font-style: normal;}
.msg_header span >*{font-weight:400;margin-bottom: 5px;}
.msg_header span p{font-size: 12px;}
.msg_body{padding:0 10px 10px;width:calc(100% - 20px);display: flex;}
.msg_body p{width:100%;border: 1px solid #CCC;background: #f7f7f7;padding:5px;border-radius:4px;color:#666;text-align: justify;}

/*我的收藏 */
.collection_box{width:100%;}
.collection_box ul li{width:calc(100% - 20px);height:auto;padding:10px;border-bottom: 1px solid #f1f1f1;display: inline-block;position: relative;}
.collection_box ul li a{width:100%;display: inline-block;}
.collection_box img{width:90px;height:90px;float:left}
.collection_box ul li a >div{width:auto;margin-left:100px;height:90px;position: relative;}
.collection_box ul li p{font-size: 1rem;}
.collection_box ul li h4,.collection_box ul li h5{font-weight: 400;}
.collection_box ul li h4{text-overflow: -o-ellipsis-lastline;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;color:#999;font-size: 0.875rem;margin-top:5px;}
.collection_box ul li h5{position: absolute;bottom:0;right:0;width:100%;font-size: 0.875rem;}
.collection_box ul li h5 span,.collection_box ul li h5 s{font-size: 12px;}
.collection_box ul li h5 i{font-style: normal;font-size: 12px;color:#666;}
.collection_box ul li h5 strong{color:#ff585d;font-size: 1rem;}
.collection_box .delete_c{width:14px;height:14px;background: url(../img/delete_c.png)no-repeat;background-size: 100%;position: absolute;right:10px;top:10px;}

/*店铺页面*/
.shop_info{}
.shop_info i{font-style: normal;}
.shopinfo_head{width:100%;height:auto;margin-bottom: 10px;padding:10px;}
.shopinfo_head >a{width:70px;height:auto;float:left;text-align: center;font-size: 1.4rem;}
.shopinfo_head >a img{width:70px;height:70px;border-radius:50%;}
.shopinfo_head_right{width:auto;margin-left: 80px;height:auto;}
.shopinfo_head_right h4{font-weight: normal;margin-bottom: 4px;}
.shopinfo_head_right h4:first-child{font-weight: 600;font-size: 16px;}
.shopinfo_head_right h4 p{width:100%;text-overflow: -o-ellipsis-lastline;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.shopinfo_head_right h4 span img{width:16px;height:16px;display: inline-block;}
.shopinfo_head_right h4 i{font-size: 14px;}
.shopinfo_title{width:100%;height:24px;line-height: 24px;background: #f7f7f7;padding:0 10px;color:#666;}
.shopinfo_body h4 p{height: auto;min-height: 30px;border-bottom: 1px solid #f1f1f1;padding:10px;display: flex;color:#666;position: relative;}
.shopinfo_body h4 p a{width:16px;height:16px;position: absolute;right:10px;}
.shopinfo_body h4 p.shoptel a{background: url(../img/tel.png)no-repeat;}
.shopinfo_body h4 p.shopqq a{background: url(../img/qq.png)no-repeat;}
.shopinfo_body h4 span{width:15%;float:left;}
.shopinfo_body h4 i{float: right;max-width: 85%;}
.shopinfo_body h5{padding:10px;}
.shopinfo_body h5 img{margin-bottom:10px;}


/*订单评价页*/
.comment_order_info,.star_box,.comment_txt,.comment_img,.comment_submit{padding: 10px;}
.comment_title{color:#999;font-size: 12px;padding:2px 10px;}
.comment_order_info h4{margin-top: 30px;font-weight:normal;font-size: 14px;color:#666;}
.comment_order_info h1{font-size: 16px;}
.star_box span{width:35%;}
.star_box .star_title{width:20%;color:#666}
.comment_body p{width:100%;height:16px;line-height: 16px;background: #f7f7f7;font-size: 12px;color: #999;padding: 2px 10px;}
.comment_txt textarea{width:100%;height:120px;display: block;outline: none;border:1px solid #f1f1f1;padding:3px;font-size: 14px;resize: none;}
.comment_submit input{width:100%;height:36px;background: #ff585d;color:#fff;font-size: 16px;border:none;border-radius:4px;}


/*需求中心*/
.demand_tab_content{display: none;}
.demand-list{height:35px;line-height:35px;overflow:hidden;border-radius:5px;border:1px solid #49a6ec;background-color:#FFF;color:#49a6ec}
.demand-list li.pick{background-color:#49a6ec;color:#FFF}
.demand-list li{float:left;width:50%;text-align:center}
.demand-list li span.bar{float:left;width:1px;height:35px;background-color:#49a6ec;vertical-align:middle}
.demanf-content{background: #f7f7f7;}
.demanf-content >ul{margin:10px 0 0;display: inline-block;width:100%;}
.demand_info{padding: 0 10px;}
.demand_info li{color:#666;background: #fff;border-radius:5px;padding:10px;margin-bottom: 10px;}
.demand_info li > p{width:100%;height:auto;display:table;padding:4px 0;}
.demand_info i{font-style:normal;width:80%;display: table-cell;}
.demand_info li> p:first-child{text-align: justify;color:#333}
.demand_info li h4{padding:4px 0;font-weight:normal;display: block;width: 100%;height: 20px;}
.demand_info li h4 span{width: 33.3%;float:left;}
.demand_info li h4 p{display: inline;}
.hasmuch,.nomuch{padding:2px 4px;color:#fff!important;border-radius:4px;}
.hasmuch{background: #ff585d;}
.nomuch{background: #999;}
.havelook,.my_demand_info{width:64px;height:20px;line-height:20px;text-align:center;background: #FF585D;color:#fff!important;border-radius:4px;}
.demand_info li h5{display: none;width: 100%;height: auto;background: rgba(0,0,0,0.05);font-weight:normal;}
.demand_info li h5 span{width:23%;}
.demand_info li h5 span i{width:75%;}
.demand_info li h5 p{padding:5px;display:flex;}
.demand_info li h5 p:last-child{display: block;}
.demand_info li h5 input{display: inline-block;background: #49a6ec;color:#fff;border-radius:4px;border:none;padding:4px 10px;}
.acceptdemand_bg,.setdemand_bg{width:100%;height:100%;max-width:640px; position: fixed;top:0;background: rgba(0,0,0,0.6);display: none;}
.setting_demand a,.demandbusiness a{width:30px;height: 42px;display: block;}
.setting_demand a{background: url(../img/set.png)no-repeat center;background-size:80%;}
.demandbusiness a{background: url(../img/shop.png)no-repeat center;background-size:80%;s}
.acceptform,.setform{width:90%;height:auto;margin:-25vw auto;transform: translateY(50vw);-webkit-transform: translateY(50vw); background: #fff;border-radius:6px;padding:10px;z-index: 5;}
.acceptform h2,.acceptform h3{font-weight: 400;font-size: 14px;margin-bottom: 10px;}
.acceptform h2,.acceptform h2 i{display: flex;align-items: center;justify-content: space-between;}
.acceptform h2 span{width:25%;color:#666;}
.acceptform h2 textarea{width:75%;resize: none;}
.acceptform h2 > input,.acceptform h2 i{width:80%;font-style: normal;}
.acceptform h2 i input{width:85%}
.acceptform h2 input,.acceptform h2 textarea{border:1px solid #f1f1f1;padding:10px 5px;outline: none;font-size: 14px;}
.acceptform h3{display: flex;justify-content: space-around;padding-top: 10px;}
.acceptform h3 input{padding:4px 30px;display: inline-block;border:none;color:#fff;font-size: 14px;border-radius: 4px;outline: none;}
.acceptform h3 input[type='submit']{background: #0E90D2;}
.acceptform h3 input[type='button']{background: #999;}
.setform span{font-size: 16px;color:#444}
.setform label{width:calc(33.3% - 3px);display: inline-block;margin-bottom: 10px;}
.setform label input{border:none;}
.setform h5{font-weight: 400;text-align: center;margin-top: 10px;}
.setform h5 input{width:50%;height:30px;background: #0E90D2;color:#fff;border:none;border-radius:6px;display: inline-block;font-size: 16px;}

/*需求详情*/
.my_demand{padding:10px;color:#444;}
.my_demand > p:first-child{font-size:1rem;}
.my_demand > p:last-child{margin-top: 5px;}
.my_demand h4{font-weight: 400;}
.my_demand h4 span{display: flex;justify-content: space-between;padding:5px 0;font-size:14px;}
.my_demand_detail{background: #f1f1f1;width: calc(100% - 20px);height:auto;padding:10px;margin-top: 10px;border-radius:4px;color: #666;display: none;}
.my_demand_detail p{display:inline-table;width:100%;margin:5px 0}
.my_demand_detail i{font-style: normal;width:75%;}
.demand_details_box >p{width:100%;height:20px;line-height: 20px;background: #f1f1f1;padding: 2px 10px;color: #666;}
.get_demand li{border-bottom: 10px solid #f1f1f1;}
.get_demand li:last-child{border-bottom:none;}
.get_demand_head,.getdemand_body{padding:10px;display: inline-block;width:calc(100% - 20px);border-bottom:1px solid #f1f1f1;}
.get_demand_head img{width:60px;height:60px;border-radius:50%;}
.get_demand_head >span{margin-left:70px;width:auto;display: block;color: #444;}
.get_demand_head p,.getdemand_body p{margin:5px 0;}
.get_demand_head i.tel,.get_demand_head i.qq{width:20px;height:20px;display:inline-block;top: 4px;position: relative;}
.get_demand_head i.tel{background: url(../img/tel.png)no-repeat;}
.get_demand_head i.qq{background: url(../img/qq.png)no-repeat;}
.getdemand_body p{display: flex;align-items: top;justify-content: space-between;}
.getdemand_body p em{width:20%;display: block;color:#666}
.getdemand_body p i{width:75%;display: block;text-align: right;color:#444}

/*商家订单中心*/
.ordercenter_info{background: #fff;}
.ordercenter_info a{display: block;}
.ordercenter_info li{color:#666;border-radius:5px;border-bottom:1px solid #f1f1f1;padding:10px;}
.ordercenter_info li h3{font-weight: 400;display: flex;justify-content: flex-end;}
.order_center_down input,.order_center_down a{border:none;width:80px;font-family: '微软雅黑';height:26px;line-height:24px;border-radius:4px;color:#fff;font-size:0.875rem;display: inline-block;text-align: center;margin-left: 10px;}
.order_center_down input{background: #f44336;}
.order_center_down a{background: #009fab;}
.order_center_detail{margin-top: 10px;background: #f7f7f7;border-radius:4px;display: none;}
.order_center_detail tr{height:30px;}
.order_center_detail tr td:first-child{width:22%;color:#888;}
.order_center_detail tr input{width:100px;height: 30px;border:none;background: #735645;color:#fff;display: inline-block;border-radius: 4px;}
.order_center_down input.signed{background: #888;pointer-events:none;}
.order_center_down input.completed{background: #888;pointer-events:none;}

